<table class="table table-hover table-condensed">
  <thead>
    <tr class="row">
      <th>title</th>
      <th>content</th>
      <th>url</th>
      <th>identifier</th>
    </tr>
    <thead>
      <tbody>
        <% @studies.each do |study| %>
        <tr class="row">
          <td><%= study.title %></td>
          <td><%= study.content %></td>
          <td><%= study.url %></td>
          <td><%= study.identifier %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

<%= paginate @studies %>
